<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contentBody">
	<div id="content"
		style="position: relative; overflow: auto; padding-left: 25px; padding-top: 25px; padding-right: 25px;">
		<div class="row-fluid">
			<div class="span12">
				<div class="page-header">
					<h1 th:text="#{title.adm.admFactGeneratorUnlockVersion.view}" style="text-transform:none;"></h1>
				</div>

				<form class="form-horizontal form-container" action="#" th:action="@{/unlockFactGeneratorVersion/init}" th:object="${unlockFactGeneratorVersionDTO}" method="post">

					<input type="hidden" th:field="*{factGeneratorDTO.id}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.id}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.fgId}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.version}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.digtiVersion}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.startTerm}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.endTerm}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.situation}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.taxDTO.id}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.taxDTO.taxCriterionDTO.id}"></input>
					<input type="hidden" th:field="*{factGeneratorDTO.factGeneratorVersionDTO.taxDTO.taxCriterionDTO.formulaDTO.id}" th:id="formulaId"></input>

					<fieldset>					
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('factGeneratorDTO.code', 'input-xlarge', 'false', 'true','30')" ></div>
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('factGeneratorDTO.description', 'input-xxlarge', 'false', 'true','50')" ></div>
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('factGeneratorDTO.versionView', 'input-small', 'false', 'true','11')" ></div>
						<div class="control-group" th:include="fragments/inputs :: textFieldEnum('factGeneratorDTO.factGeneratorVersionDTO.situation','description','factGeneratorDTO.factGeneratorVersionDTO.situationEnum', 'input-small', 'readonly')"></div>
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('factGeneratorDTO.limitMonthLosses', 'input-small', 'false', 'true','2')" />
						<div class="control-group" th:include="fragments/inputs :: textFieldEnum('factGeneratorDTO.typeDetermination','description','factGeneratorDTO.typeDeterminationEnum', 'input-small', 'readonly')" ></div>
						
						<div class="control-group" >
							<label class="control-label" th:for="dayTrade"><span th:text="#{model.UnlockFactGeneratorVersionDTO.factGeneratorDTO.factGeneratorVersionDTO.dayTrade}"></span></label>
						    <div class="controls"  >
								<input type="text" th:class="input-mini" th:value="#{${unlockFactGeneratorVersionDTO.factGeneratorDTO.getDescriptionDayTrade(unlockFactGeneratorVersionDTO.factGeneratorDTO.dayTrade)}}" th:readonly="true"></input>
						     </div>
						</div>
						
						<div class="control-group" th:include="fragments/inputs :: dateFieldFormat('factGeneratorDTO.factGeneratorVersionDTO.startTerm', 'startTerm', 'false', 'true', 'en', '-')" />
						
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('factGeneratorDTO.factGeneratorVersionDTO.responsible', 'input-small', 'false', 'true','11')" ></div>
						
						<div class="control-group">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab"><span th:text="#{title.adm.admFactGeneratorUnlockVersion.tab.tax}"></span></a></li>
							</ul>
							<div class="tab-content">
								<!-- TAB TAX -->
								<div class="tab-pane active" id="tab1">
									<h4 th:text="#{title.adm.admFactGeneratorUnlockVersion.list.taxs}"></h4>
									<table id="taxListDtId"
										class="table table-bordered table-striped dataTable">
										<thead>
											<tr>
												<th><span th:text="#{dataTable.column.adm.admFactGeneratorUnlockVersion.tax.code}"></span></th>
												<th><span th:text="#{dataTable.column.adm.admFactGeneratorUnlockVersion.tax.description}"></span></th>
												<th><span th:text="#{dataTable.column.adm.admFactGeneratorUnlockVersion.tax.collectionCode}"></span></th>
												<th><span th:text="#{dataTable.column.adm.admFactGeneratorUnlockVersion.tax.periodCalculation}"></span></th>
												<th><span th:text="#{dataTable.column.adm.admFactGeneratorUnlockVersion.tax.paymentDate}"></span></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="taxDTO : ${unlockFactGeneratorVersionDTO.factGeneratorDTO.listTaxDTO}">
												<td th:text="${taxDTO.code}"></td>
												<td><span th:text="${taxDTO.description}"></span></td>
												<td><span th:text="${taxDTO.taxCriterionDTO.collectionCode}"></span></td>
												<td><span th:text="${taxDTO.taxCriterionDTO.periodCalculation}"></span></td>
												<td><span th:text="${taxDTO.taxCriterionDTO.paymentDate}"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="form-actions">
						
						<button id="btnConfirmUnlock" class="btn btn-primary" type="submit" name="unlock" th:onclick="'return confirm(\'' + #{message.admFactGeneratorUnlockVersion.alert.confirmUnlock} + '\')'">
							<span th:text="#{button.confirm}"></span>
						</button>
						<a class="btn" th:id="btnCancel" onclick="javascript:document.location.href ='list';" ><span th:text="#{button.back}"></span></a>
						
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
		});
	</script>
</div>
</html>