<?xml version="1.0" encoding="utf-8"?>
<!-- configuracao async -->
<configuration status="debug" name="profectus" packages="br.com.profectus">
  <appenders >
	<console name="console" target="system_out">
		<patternlayout pattern="%d %p %c{1} %m%n" />
	</console>
    <file name="file" filename="c:/devtools/srv/apache-tomcat-8.0.43/logs/profectus.log">
		<patternlayout pattern="%d %p %c{1} %m%n" />
    </file>
    <async name="async">
      <appenderref ref="file"/>
      <appenderref ref="console" />
    </async>
  </appenders>
  <loggers>
    <root level="debug">
      <appenderref ref="async"/>
    </root>
  </loggers>
</configuration>