<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="../../resources/citi/css/citi-bootstrap.css" rel="stylesheet" />
	<link href="../../resources/citi/css/font-awesome-ie7.min.css" rel="stylesheet" />
</head>

<div th:fragment="contentBody">


	<!-- MODAL WARNING DELETE -->
	<div class="modal hide" id="showWarningDelete">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3><span th:text="#{title.message.modal.warning.delete}" ></span></h3>
		</div>
		<div class="modal-body">
		 	<span th:text="#{message.formMessage.delete.link.error}"></span>
		 	<div th:if="${MODULE_NAME1}"  >&#45;<span th:text="#{__${MODULE_NAME1}__}"></span></div>
			<div th:if="${MODULE_NAME2}"  >&#45;<span th:text="#{__${MODULE_NAME2}__}"></span></div>
		</div>
		<div class="modal-footer">
			<form name="formModalWarningDelete" th:action="@{/message/delete}" th:object="${messageDTO}" method="post">
				<input type="text"  th:field="*{messageId}" th:id="idModalWarningDelete"></input>
				<button class="btn" type="button" data-dismiss="modal"><span th:text="#{button.close}"></span></button>
			</form>
		</div>
	</div>
	
	<!-- MODAL CONFIRM -->
	<div class="modal hide" id="confirmDeleteMessage">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3><span th:text="#{title.message.modal.confirm}" ></span></h3>
		</div>
		<div class="modal-body">
					
		<fieldset>
		 	<span th:text="#{message.formMessage.confirm.delete}"></span>
		</fieldset>
					
		</div>
		<div class="modal-footer">
			<form name="formModal" th:action="@{/message/delete}" th:object="${messageDTO}" method="post">
				<input type="hidden"  th:field="*{messageId}" th:id="idModalConfirmDelete"></input>
				<button class="btn" type="button" data-dismiss="modal"><span th:text="#{button.no}"></span></button>
				<button class="btn btn-primary" type="submit"><span th:text="#{button.yes}"></span></button>
			</form>
		</div>
	</div>

 	<div id="content" style="position: relative; overflow: auto; padding-left: 25px;  padding-top: 25px; padding-right: 25px;">
 	
 	<div th:if='${messageDTO.treatmentMessageDTO!=null}' 
 		th:include="fragments/alert :: alert('${messageDTO.treatmentMessageDTO.typeMessage}', 
 		'${messageDTO.treatmentMessageDTO.message}')"></div>

			<div class="row-fluid">
				<div class="span12">
				    <div class="page-header">
					    <h1 th:text="#{title.message.search}"></h1>
					</div>
	 	 				
					<div id="divformFilter" style="display:none;" >	
  						<div class="row-fluid">
							<div class="btn-toolbar pull-left" style="width:49%;*width:60%">
								<div class="btn-group">					
 
  									<a th:href="@{/message/add}" class="btn"><i class="icon-plus"></i>&nbsp;<span th:text="#{button.include}"></span></a>
									<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
 
 								</div>
								<div class="clearfix"></div>
							</div>					
						</div>		
 						
		 				<form id="formFilter" class="form-inline actions-toolbar" action="#" th:action="@{/message/list}" th:object="${messageDTO}" method="post">
		 					
 		 					<input type="hidden" name="showModal" id="showModal"  th:field="*{showModal}"/>
 							
 							<div class="actions-toolbar-inner"> 							
 								<label th:text="#{formFilter.button.search}"></label>
								<label class="radio-inline"><input type="radio" name="optRadio" value="1" th:checked="${messageDTO.optionRadioFilter == '1'}?'checked'" th:field="*{optionRadioFilter}">&nbsp;<span th:text="#{model.MessageDTO.filterOption.name}"></span></input></label>
								<span>&nbsp;&nbsp;&nbsp;</span>
								<label class="radio-inline"><input type="radio" name="optRadio" value="2" th:checked="${messageDTO.optionRadioFilter == '2'}?'checked'" th:field="*{optionRadioFilter}">&nbsp;<span th:text="#{model.MessageDTO.filterOption.description}"></span></input></label> 						
 							</div>
 
 	
							<div class="actions-toolbar-inner">
								<!-- <label><span th:text="#{formFilter.label.name}"></span></label> -->
 								<input type="text" id="inputFormFilter" class="input-xxlarge" style="margin-right:5px;" th:field="*{inputFormFilter}" th:maxlength="30" ></input>
								<button id="btnFormFilter" class="btn btn-primary" type="submit" ><span th:text="#{button.search}"></span></button>
								<!-- <button id="btnFormClean"  class="btn"><i class="icon-remove"></i><span th:text="#{formFilter.button.clean}"></span></button> -->
							    <button id="btnFormClean"  type="button" class="btn" onclick="clearFilter();"  ><span th:text="#{formFilter.button.clean}"></span></button>
							</div>
						</form>	
						
						
							<div class="actions-toolbar-inner">
								<!--<label><span th:text="#{formFilter.label.name}"></span></label>
 								<input type="text" id="inputFormFilter" class="input-medium" style="margin-right:5px;" th:field="*{inputFormFilter}" ></input>
 								-->
<!--  								<a href="#" data-th-href="@{/tax/add}"><button id="btnFormAdd" class="btn btn-primary" ><span th:text="Incluir"></span></button></a>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
 -->								<!-- <button id="btnFormClean"  class="btn"><span th:text="#{formFilter.button.clean}"></span></button> -->
							</div>
						<br/>
					</div>
				
 
				<table id="messageListDtId" class="table table-bordered table-striped dataTable">
					<thead>
						<tr>
							<th><span th:text="#{dataTable.column.message.name}"></span></th>
							<th><span th:text="#{dataTable.column.message.description}"></span></th>
							<th width="10%" colspan="2" ><span th:text="#{dataTable.column.title.action}"></span></th>
						</tr>
					</thead>
 					<tbody>
  						<tr th:each="messageDTO : ${messageDTOsList}">
  						
							<td><a th:href="@{/message/view(id=${messageDTO.messageId})}" th:title="#{title.link.view.details}" th:text="${messageDTO.name}"></a></td>
 							<td th:text="${messageDTO.description}"></td>
 							<td align="center">
								<a th:href="@{/message/edit(id=${messageDTO.messageId})}" th:title="#{title.link.edit}"><i class="icon-pencil"></i></a>					
							</td>						
							<td align="center">
								<a 	data-toggle="modal" data-target="#confirmDeleteMessage" href="#" 
									th:onclick="'deleteItem(\'' + ${messageDTO.messageId} + '\')'" 
									th:title="#{title.link.delete}"><i class="icon-remove"></i></a>							
							</td>
 						</tr>
					</tbody>
				</table>
				
			</div>
			
		</div>
 	</div>

 
    <script >
    
    function clearFilter() {
    	$("[name='optionRadioFilter']").val("1");
        document.getElementById('inputFormFilter').value='';
        document.getElementById('formFilter').submit();
    }
    
	    function deleteItem(id) {
	    	$("#idModalWarningDelete").val(id);
	        $("#idModalConfirmDelete").val(id);
	    }

        //<![CDATA[
        $(document).ready(function () {
            configureDataTable('#messageListDtId', [ 2, 3 ]);
      	});
        
        
        
        $(window).load(function() {
        	
        	// Abrir modal em caso de vinculo na exclusao da variavel
        	if ($("#showModal").val() == "showWarningDelete") {
        		$('#showWarningDelete').modal('show');
        	}

            $(".rowTopTable").append($("#divformFilter").html());

			$("[name='inputFormFilter']").keypress(onlyWordAndNumber);
			

        });
        
        //]]>
    </script>

</div>
</html>
