<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contentBody">

 	<div id="content" style="position: relative; overflow: auto; padding-left: 25px;  padding-top: 25px; padding-right: 25px;">
			
        <div class="row-fluid">
			<div class="span9">
                <div class="page-header">
                    <h1 th:text="#{title.messageParamFactGeneratorVar.view}"></h1>
                </div>
                
                <div class="btn-toolbar">
            		<div class="btn-group">
						<a class="btn" 
							th:href="@{/msgParameterFGVariable/edit(idMessage=${messageParamFactGeneratorVarDTO.messageDTO.messageId}, 
										idFactGeneratorVersion=${messageParamFactGeneratorVarDTO.factGeneratorDTO.factGeneratorVersionDTO.id})}">
										<i class="icon-edit"></i>&nbsp;<span th:text="#{button.edit}"></span></a>
  					</div>
                    <div class="btn-group">
                    	<a class="btn" th:href="@{/msgParameterFGVariable/list}">
                    		<span th:text="#{button.cancel}"></span></a>
                    </div>
                </div>
                
  				<form class="form-horizontal form-container" id="frmMessageFactGenerator" action="#" th:action="@{/msgParameterFGVariable/save}" th:object="${messageParamFactGeneratorVarDTO}" method="post">
  					
  					<div th:if='${messageParamFactGeneratorVarDTO.treatmentMessageDTO!=null}' th:include="fragments/alert :: alert('${messageParamFactGeneratorVarDTO.treatmentMessageDTO.typeMessage}', '${messageParamFactGeneratorVarDTO.treatmentMessageDTO.message}')"></div>
              		
               		<fieldset>
                		<div class="control-group">
	                    	
	                    	<input type="hidden" th:id="hdnMessageId" class="input-xlarge" th:field="*{messageDTO.messageId}"></input>
	                    	<input type="hidden" th:id="hdnFactGeneratorId" class="input-xlarge" th:field="*{factGeneratorDTO.id}"></input>
	                    	
	                    	<table id="messageFactGeneratorAssociationDtId"
								class="table table-bordered table-striped dataTable">
								<thead>
									<tr>
										<th><span th:text="#{dataTable.add.column.messageParamFactGeneratorVar.messageName}"></span></th>
										<th><span
											th:text="#{dataTable.add.column.messageParamFactGeneratorVar.messageDescription}"></span></th>
										<th><span
											th:text="#{dataTable.add.column.messageParamFactGeneratorVar.factGeneratorName}"></span></th>
										<th><span
											th:text="#{dataTable.add.column.messageParamFactGeneratorVar.factGeneratorDescription}"></span></th>
										<th><span
											th:text="#{dataTable.add.column.messageParamFactGeneratorVar.versionView}"></span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span th:text="${messageParamFactGeneratorVarDTO.messageDTO.name}"></span></td>
										<td><span th:text="${messageParamFactGeneratorVarDTO.messageDTO.description}"></span></td>
										<td><span th:text="${messageParamFactGeneratorVarDTO.factGeneratorDTO.code}"></span></td>
										<td><span th:text="${messageParamFactGeneratorVarDTO.factGeneratorDTO.description}"></span></td>
										<td><span th:text="${messageParamFactGeneratorVarDTO.factGeneratorDTO.versionView}"></span></td>
									</tr>
								</tbody>
							</table>
	                    </div>
                		
 						<br />
	                    
	                    <!-- Inicio Grid associations added -->
	                    <div class="control-group">
	                    	<h4><span th:text="#{subtitle.messageParamFactGeneratorVar.formAddEdit.associationGrid}"></span></h4>
	                    	
		                    <table id="messageParameterFactGeneratorParametersListDtId" class="table table-bordered table-striped dataTable">
								<thead>
									<tr>
										<th><span th:text="#{dataTable.messageParamFactGeneratorVar.column.messageParameter.name}"></span></th>
										<th><span th:text="#{dataTable.messageParamFactGeneratorVar.column.messageParameter.description}"></span></th>
										<th><span th:text="#{dataTable.messageParamFactGeneratorVar.column.factGeneratorVariable.name}"></span></th>
										<th><span th:text="#{dataTable.messageParamFactGeneratorVar.column.factGeneratorVariable.description}"></span></th>
									</tr>
								</thead>
			 					<tbody>
			  						<tr th:each="associationParameterVsVariableDTO, iterStat: ${associationParameterVsVariableViewDTO}">
										<td th:text="${associationParameterVsVariableDTO.messageParameterDTO.name}"></td>
										<td th:text="${associationParameterVsVariableDTO.messageParameterDTO.description}"></td>
			 							<td th:text="${associationParameterVsVariableDTO.variableDTO.name}"></td>
			 							<td th:text="${associationParameterVsVariableDTO.variableDTO.description}"></td>
			 						</tr>
								</tbody>
							</table>
						</div>
						<!-- Fim Grid associations added -->
						
					</fieldset>
					
 				</form>
			</div>
		</div>
	</div>

   <script type="text/javascript">
   
	   $(document).ready(function() {
	       configureDataTable('#messageParameterFactGeneratorParametersListDtId', []);
	   });
   
   </script>
</div>
</html>
