<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link href="../../resources/citi/css/citi-bootstrap.css" rel="stylesheet" />
		<link href="../../resources/citi/css/font-awesome-ie7.min.css" rel="stylesheet" />
	</head>
	
	<div th:fragment="contentBody">
	 	<div id="content" style="position: relative; overflow: auto; padding-left: 25px;  padding-top: 25px; padding-right: 25px;">
	 	
	 	
	 	<div th:if='${approvalChangeRequestDTO.treatmentMessageDTO!=null}' 
	 			th:include="fragments/alert :: alert('${approvalChangeRequestDTO.treatmentMessageDTO.typeMessage}', '${approvalChangeRequestDTO.treatmentMessageDTO.message}')"></div>
	 	
	 	
			<div class="row-fluid">
				<div class="span12">
				    <div class="page-header">
					    <h1 th:text="#{title.adm.approvalChangesRequestFactGenerator.consult}" style="text-transform:none;" ></h1>
					</div>
	
					<div id="divformFilter" style="display:none;" > 
					
						<div class="row-fluid">
							<div class="btn-toolbar pull-left" style="width:49%;*width:60%">
								<div class="btn-group">					
									<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
 								</div>
								<div class="clearfix"></div>
							</div>					
						</div>						

												
		 				<form id="formFilter" class="form-inline actions-toolbar" action="#" th:action="@{/approvalChangeRequestFG/list}" th:object="${approvalChangeRequestDTO}" method="post">
		 				
	
								<div class="actions-toolbar-inner"> 							
									
									<label th:text="#{formFilter.button.search}"></label> 
									
									<label class="radio-inline">
										<input type="radio" th:id="optionRadioFilter" th:field="*{optionRadioFilter}" 
													th:value="1" th:checked="${optionRadioFilter == '1'}?'checked'" >&nbsp;
										<span th:text="#{formFilter.label.code}"></span></input>
									</label>
									
									<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									
									<label class="radio-inline">
											<input type="radio" th:id="optionRadioFilter" th:field="*{optionRadioFilter}" 
														th:value="2" th:checked="${optionRadioFilter == '2'}?'checked'">&nbsp;
														<span th:text="#{formFilter.label.name.fact.generator}"></span></input>
									</label> 						
									
									<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									
									<label class="control-label">
											<span th:text="#{formFilter.label.situation.fact.generator}"></span>&nbsp;&nbsp;
									</label>
									<label>
											<div th:include="fragments/inputs :: selectEnumWithoutLabel('action', 'pendingActionsDomainToApprovalEnum', 'input-large', 'false', 'true')" />
									</label>
								</div>
	
		
							<div class="actions-toolbar-inner">
								<input type="text" id="inputFormFilter" class="input-xlarge" style="margin-right:5px;" th:field="*{inputFormFilter}" th:maxlength="30"></input>
								<button id="btnFormFilter" type="submit" class="btn btn-primary" ><i class="icon-filter icon-white"></i>&nbsp;<span th:text="#{button.search}"></span></button>
							    <button id="btnFormClean"  type="button" class="btn" onclick="clearFilter();"><i class="icon-remove"></i>&nbsp;<span th:text="#{formFilter.button.clean}"></span></button>
							</div>
						</form>	
						<br/>
					</div>
					
					<table id="changeRequestsToApprovalFGListDtId" class="table table-bordered table-striped dataTable">
						<thead>
							<tr>
								<th><span th:text="#{dataTable.column.adm.approvalChangesRequestFactGenerator.code}"></span><i class="sort"></i></th>
								<th><span th:text="#{dataTable.column.adm.approvalChangesRequestFactGenerator.name}"></span><i class="sort"></i></th>
								<th><span th:text="#{dataTable.column.adm.approvalChangesRequestFactGenerator.situation}"></span><i class="sort"></i></th>
							</tr>
						</thead>
	 					<tbody>
	  						<tr th:each="approvalRequestFGToUpdate : ${approvalChangeRequestDTO.requestsToApprovalChangesFG}">
	  						
								<td>
									<a th:href="@{/approvalChangeRequestFG/view(id=${approvalRequestFGToUpdate.id})}" 
									th:title="#{title.link.view.details}" 
									th:text="${approvalRequestFGToUpdate.factGeneratorDTO.code}">&nbsp;&#40;<span th:text="${approvalRequestFGToUpdate.factGeneratorDTO.factGeneratorVersionDTO.id}"></span>&#41;
									</a>
								</td>					
	 							<td th:text="${approvalRequestFGToUpdate.factGeneratorDTO.description}"></td>
	 							<td>
	 								<span th:if='${approvalRequestFGToUpdate.action=="RP"}' th:text="#{lbl.pendingChanges.replaceFactGenerator}"></span>
	 								<span th:if='${approvalRequestFGToUpdate.action=="SP"}' th:text="#{lbl.pendingChanges.suspendFactGenerator}"></span>
	 								<span th:if='${approvalRequestFGToUpdate.action=="RV"}' th:text="#{lbl.pendingChanges.reactiveFactGenerator}"></span>
	 								<span th:if='${approvalRequestFGToUpdate.action=="CL"}' th:text="#{lbl.pendingChanges.cancelFactGenerator}"></span>
	 							</td>
	  						</tr>
						</tbody>
					</table>
				</div>
			</div>
	 	</div>
	 	
		<script>
			//<![CDATA[			         
			    function clearFilter() {
					document.getElementById('inputFormFilter').value='';
			    	$("[name='action']").val("");
			    	$("[name='optionRadioFilter']").val("1");
					document.getElementById('formFilter').submit();
				}
			       
				$(document).ready(function () {
					configureDataTable('#changeRequestsToApprovalFGListDtId', [2]);
				});
			        
				$(window).load(function() {
			        	
					$(".rowTopTable").append($("#divformFilter").html());

					$("[name='inputFormFilter']").keypress(onlyWordAndNumber);
				});
		   //]]>
		</script>
	</div>
</html>
