<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contentBody">
	<div id="content" style="position: relative; overflow: auto; padding-left: 25px; padding-top: 25px; padding-right: 25px;">
		<div class="row-fluid">
			<div class="span12">
				<div class="page-header">
					<h1 th:text="#{title.factGenerator.simulation.view.result}" style="text-transform:none;"></h1>
				</div>
				
				<div th:include="factGenerator/factGeneratorMessage :: messageView" />

				<form  id="formCriterion" class="form-horizontal form-container" action="#" 
						th:action="@{/simulation/viewSimulationResult}" th:object="${factGeneratorDTO}" method="post">

					<input type="hidden" th:field="*{id}"></input>
					<input type="hidden" th:field="*{factGeneratorVersionDTO.id}"></input>
					<input type="hidden" th:field="*{factGeneratorVersionDTO.fgId}"></input>
					<input type="hidden" th:field="*{factGeneratorVersionDTO.taxDTO.id}"></input>
					<!-- <input type="hidden" th:field="*{simulationDTO.id}"></input> -->
					<input type="hidden" th:field="*{simulationDTO.simulationRequestId}"></input>
					<input type="hidden" th:id="firstFieldError" th:value="${firstFieldError}"></input>
					<input type="hidden" th:id="action"   th:field="*{action}"></input>
					
 					<fieldset>
 					
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('code', 'input-xlarge', 'false', 'true','30')" />
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('description', 'input-xxlarge', 'false', 'true','50')" />
						<div class="control-group" th:include="fragments/inputs :: dateFieldFormat('simulationDTO.dateSolicitation', 'dateSolicitation', 'false', 'true', 'en', '-')" />
						<div class="control-group" th:include="fragments/inputs :: textFieldEnum('simulationDTO.type','description','simulationDTO.simulationTypeEnum', 'input-small', 'readonly')" ></div>
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('simulationDTO.description', 'input-medium', 'false', 'true','20')" />
						<div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('simulationDTO.clientName', 'input-xxlarge', 'false', 'true','40')" ></div>
						<!-- <div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('versionView', 'input-medium', 'false', 'true','11')" /> -->
						<!-- <div class="control-group" th:include="fragments/inputs :: textFieldEnum('factGeneratorVersionDTO.situation','description','factGeneratorVersionDTO.situationEnum', 'input-medium', 'true')" /> -->
 						<!-- <div class="control-group" th:include="fragments/inputs :: textFieldMaxLength('simulationDTO.simulationRequestId', 'input-medium', 'false', 'true','20')" /> -->
 						
							
						<div class="control-group"  >
							<h4 th:text="#{title.factGenerator.simulation.view.result.calc}" ></h4>
								<table id="tableSimulation" class="table table-bordered table-striped dataTable">
									<thead>
										<tr>
											<th>&nbsp;<i class="sort"></i></th>
											<th><span th:text="#{dataTable.column.tab.tax.code}"></span><i class="sort"></i></th>
											<th><span th:text="#{dataTable.column.tab.tax.description}"></span><i class="sort"></i></th>
											<th style="width: 10%;" ><span th:text="#{dataTable.column.tab.tax.collectionCode}"></span><i class="sort"></i></th>
											<!-- <th><span th:text="#{dataTable.column.tab.tax.datePay}"></span></th> -->
											<th><span th:text="#{dataTable.column.simulation.calculationBaseValue}"></span><i class="sort"></i></th>
											<th><span th:text="#{dataTable.colemn.simulation.result}"></span><i class="sort"></i></th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="taxDTO : ${factGeneratorDTO.listTaxDTO}">
											<td><span th:text="${taxDTO.simulationId}"></span></td>
											<td><span th:text="${taxDTO.code}"></span></td>
											<td><span th:text="${taxDTO.description}"></span></td>
											<td><span th:text="${taxDTO.taxCriterionDTO.collectionCode}"></span></td>
											<!-- <td><span th:text="${taxDTO.taxCriterionDTO.paymentDate}"></span></td> -->
											<td><span th:text="${taxDTO.calculationBaseValue}"></span></td>
											<td><span th:text="${taxDTO.calculationResult}"></span></td>
										</tr>
									</tbody>
								</table>
						</div>
 					</fieldset>

					<div class="form-actions">

							<!-- <button id="buttonPrev" class="btn" type="submit"><span th:text="#{button.prev}"></span></button> -->
							<button id="buttonCancel"  class="btn" type="submit"><span th:text="#{button.finalize}"></span></button>
							<button id="buttonExport" class="btn btn-primary" type="submit" ><span th:text="#{button.export.excel}"></span></button>
							<!-- <button id="buttonApprove" th:if="${APPROVE_TEST}" class="btn btn-primary" type="submit" ><span th:text="#{button.approve}"></span></button> -->
							<!-- <button id="buttonReject"  th:if="${APPROVE_TEST}" class="btn" type="submit"><span th:text="#{button.reject}"></span></button> -->
							
					</div>
			</form>
		</div>
	</div>
</div>

	<script >
	//<![CDATA[
	           
     $(document).ready(function () {
    	 configureDataTableWithDefaultSort('#tableSimulation', [], 0);
    });
        
    $(window).load(function() {

		    //Action
 		    $("#buttonCancel").click(function(){
		    	$("#action").val("cancel");
		    });

		    $("#buttonReject").click(function(){
		    	$("#action").val("reject");
		    });
		    
		    $("#buttonApprove").click(function(){
		    	$("#action").val("approve");
		    });
		    
		    $("#buttonExport").click(function(){
		    	$("#action").val("export");
		    });
		    
	});
		//]]>

	</script>
	
</div>
</html>
